<footer class="bg-white mt-auto border-t border-grey-light">
  <div class="container mx-auto pt-8 pb-14 md:px-12 px-6 md:pt-11 md:pb-16">
    <div
      class="flex flex-wrap md:flex-nowrap justify-between gap-6 md:items-start md:gap-20"
    >
      <div class="flex items-center justify-between">
        <div class="text-grey text-base md:text-lg">
          &copy; 2025 <span class="text-primary">PDFstorm</span>
        </div>
      </div>

      <div class="relative md:order-2">
        {% set id = "footer" %}
        {% include "components/language-dropdown.html" %}
      </div>

      <div
        class="flex flex-col md:flex-row gap-3 w-full md:w-auto md:flex-1 md:justify-around md:gap-16"
      >
        <ul class="flex flex-col gap-3">
          <li>
            <a
              href="#"
              class="text-link hover:text-primary transition-colors text-base md:text-lg"
              >Конвертирование</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-link hover:text-primary transition-colors text-base md:text-lg"
              >Редактирование</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-link hover:text-primary transition-colors text-base md:text-lg"
              >Все инструменты</a
            >
          </li>
        </ul>

        <ul class="flex flex-col gap-3">
          <li>
            <a
              href="#"
              class="text-link hover:text-primary transition-colors text-base md:text-lg"
              >Пользовательское соглашение</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-link hover:text-primary transition-colors text-base md:text-lg"
              >Политика конфиденциальности</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-link hover:text-primary transition-colors text-base md:text-lg"
              >Статьи</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
