<header class="bg-white border-t border-grey sticky top-0 z-50">
  <nav class="container mx-auto px-6 md:px-12 py-4">
    <div class="flex flex-wrap items-center gap-16 xl:gap-24">
      <div class="flex items-center gap-3">
        <a href="/" class="flex items-center gap-3">
          <img src="/images/logo.svg" alt="PDFStorm" class="h-8 w-auto" />
          <span
            class="text-xl font-semibold text-primary uppercase tracking-tight"
          >
            <span class="font-bold">PDFS</span
            ><span class="font-normal">TORM</span>
          </span>
        </a>
      </div>

      <ul
        id="mobile-menu"
        class="hidden justify-between items-center w-full lg:flex lg:w-auto gap-8"
      >
        <li>
          <a
            href="#"
            class="text-primary hover:text-link transition-colors font-medium text-xl"
            >Word в PDF</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-primary hover:text-link transition-colors font-medium text-xl"
            >Разделить PDF</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-primary hover:text-link transition-colors font-medium text-xl"
            >Сжать PDF</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-primary hover:text-link transition-colors font-medium text-xl"
            >PDF в Word</a
          >
        </li>
      </ul>

      <div class="flex items-center gap-4 ml-auto">
        {% set id = "header" %}
        {% include "components/language-dropdown.html" %}
      </div>
    </div>
  </nav>
</header>
