<!-- Hero Section -->
<section
  class="bg-linear-to-b bg-linear-(--image-gradient) md:pt-8 lg:pt-24"
  aria-labelledby="hero-heading"
>
  <div class="bg-primary py-8 lg:py-28 flex items-center">
    <div class="container mx-auto px-6 md:px-12 relative w-full h-full">
      <h1
        id="hero-heading"
        class="text-3xl md:text-4xl lg:text-6xl font-extrabold leading-tight text-white md:w-1/2"
      >
        Все инструменты для конвертации PDF онлайн
      </h1>
      <div
        class="hidden md:flex absolute top-1/2 right-0 -translate-y-1/2 w-1/2 h-(--hero-size) lg:h-(--hero-size-big) items-center justify-center"
      >
        <img
          src="/images/hero.png"
          alt="Визуализация процесса конвертации PDF файлов: динамическая композиция с документами и цветными элементами, символизирующая эффективную обработку файлов"
          class="w-full h-full object-cover"
          loading="lazy"
          decoding="async"
          width="600"
          height="400"
        />
      </div>
    </div>
  </div>
  <div class="container mx-auto px-6 md:px-12 relative z-10">
    <nav
      class="flex flex-wrap gap-2 py-4 lg:py-8"
      role="navigation"
      aria-label="Фильтры категорий инструментов"
    >
      <a
        href="#"
        class="px-4 py-2 bg-white text-primary border border-primary rounded-full font-medium text-sm hover:bg-primary-hover/10 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 transition-colors"
        aria-current="page"
      >
        Все
      </a>
      <a
        href="#"
        class="px-4 py-2 bg-primary text-white hover:text-white-hover rounded-full font-medium text-sm hover:bg-primary-hover focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 transition-colors"
      >
        Конвертировать
      </a>
      <a
        href="#"
        class="px-4 py-2 bg-primary text-white hover:text-white-hover rounded-full font-medium text-sm hover:bg-primary-hover focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 transition-colors"
      >
        Редактировать
      </a>
      <a
        href="#"
        class="px-4 py-2 bg-primary text-white hover:text-white-hover rounded-full font-medium text-sm hover:bg-primary-hover focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 transition-colors"
      >
        Безопасность
      </a>
      <a
        href="#"
        class="px-4 py-2 bg-primary text-white hover:text-white-hover rounded-full font-medium text-sm hover:bg-primary-hover focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 transition-colors"
      >
        Картинки
      </a>
      <a
        href="#"
        class="px-4 py-2 bg-primary text-white hover:text-white-hover rounded-full font-medium text-sm hover:bg-primary-hover focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 transition-colors"
      >
        Другое
      </a>
    </nav>
  </div>
</section>
