<!-- Hero Section -->
<section
  class="bg-linear-to-b bg-linear-(--image-gradient) md:pt-8 lg:pt-24 overflow-hidden"
  aria-labelledby="hero-heading"
>
  <div class="bg-primary py-8 lg:py-28 flex items-center">
    <div class="container mx-auto px-6 md:px-12 relative w-full h-full">
      <h1
        id="hero-heading"
        class="text-3xl md:text-4xl lg:text-6xl font-extrabold leading-tight text-white md:w-1/2"
      >
        Все инструменты для конвертации PDF онлайн
      </h1>
      <div
        class="hidden md:flex absolute top-1/2 right-0 -translate-y-1/2 w-1/2 h-(--hero-size) lg:h-(--hero-size-middle) xl:h-(--hero-size-big) items-center justify-center lg:w-[700px] xl:w-[1000px] xl:translate-x-1/6"
      >
        <img
          src="/images/hero.png"
          alt="Визуализация процесса конвертации PDF файлов: динамическая композиция с документами и цветными элементами, символизирующая эффективную обработку файлов"
          class="w-full h-full"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>
  </div>
  <div class="container mx-auto px-6 md:px-12 relative z-10">
    <nav
      class="flex flex-wrap gap-2 py-4 lg:py-8"
      role="navigation"
      aria-label="Фильтры категорий инструментов"
    >
      {% for tab in tabs %}
      {% set href = tab.href %}
      {% set label = tab.label %}
      {% set isActive = tab.isActive %}
      {% include "components/hero-tab.html" %}
      {% endfor %}
    </nav>
  </div>
</section>
