<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - PDFStorm</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/main.css">
  </head>

  <body class="bg-white text-black flex flex-col min-h-screen font-sans">
    {% include "components/header.html" %}

    <main class="grow">
      <!-- Hero Section -->
      {% include "components/hero.html" %}

      <!-- Tools Section -->
      {% include "components/tools.html" %}

      <!-- Description Section -->
      {% include "components/description.html" %}

      <!-- Services Section -->
      {% include "components/services.html" %}

    </main>

    {% include "components/footer.html" %}

    <script type="module" src="/resources/js/main.js"></script>
  </body>

</html>